<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />

    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/lib/mdui/mdui.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="BugTracker.Main.styles.css" />

    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js" defer></script>
    <script src="/lib/mdui/mdui.global.min.js" defer></script>
    <script src="/js/main.js" defer></script>
    <HeadOutlet />
</head>
<body class="d-flex flex-column">
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>