<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />

    <link rel="stylesheet" href=@Assets["/lib/bootstrap/css/bootstrap.rtl.min.css"] />
    <link rel="stylesheet" href=@Assets["/lib/mdui/mdui.min.css"] />
    <link rel="stylesheet" href=@Assets["/css/main.css"] />
    <link rel="stylesheet" href=@Assets["BugTracker.Main.styles.css"] />

    <HeadOutlet />
</head>
<body class="d-flex flex-column">
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    <script src=@Assets["/lib/bootstrap/js/bootstrap.bundle.min.js"]></script>
    <script src=@Assets["/lib/mdui/mdui.global.min.js"]></script>
    <script src=@Assets["/js/main.js"]></script>
</body>
</html>
