
html {
  height: 100%;
}

body {
  min-height: 100%;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i], [type="password" i]) {
  unicode-bidi: plaintext;
}

input:is([type=password], [type=email]) {
  direction: ltr;
}
