@page "/Backlog/{OwnerKey}/{ProjectKey}/PBI/Create"
@using BugTracker.Main.Features.Backlog.Data
@using Microsoft.EntityFrameworkCore

@inject NavigationManager NavigationManager
@inject MediatR.IMediator Mediator

<PageTitle>PBI جدید</PageTitle>

<h3>PBI جدید</h3>

<div class="flex-grow-1">
    <EditForm Enhance
              Model="Input"
              FormName="backlog-pbi-create"
              OnValidSubmit="OnValidSubmit">
        <div>
            <label class="form-label w-100">
                عنوان:
                <InputText @bind-Value="Input.Title" required class="form-control w-100" />
            </label>
        </div>
        <div>
            <label class="form-label w-100">
                شرح:
                <InputTextArea @bind-Value="Input.Description" class="form-control w-100" />
            </label>
        </div>
        <button type="submit" class="btn btn-primary w-25">ذخیره</button>
    </EditForm>
</div>

@code {
    [Parameter] public string? OwnerKey { get; set; }
    [Parameter] public string? ProjectKey { get; set; }

    [SupplyParameterFromForm] private FormInput Input { get; set; } = new();

    private async Task OnValidSubmit(EditContext editContext)
    {
        CreatePBI.Request request = new(
            OwnerKey ?? "",
            ProjectKey ?? "",
            Input.Title ?? "",
            Input.Description ?? "");

        var response = await Mediator.Send(request);
        response.Match(
            r => NavigationManager.NavigateTo($"/Backlog/{OwnerKey}/{ProjectKey}/{r.Id}"),
            error => throw error.ToException()
        );
    }

    class FormInput
    {
        public string? Title { get; set; }
        public string? Description { get; set; }
    }
}
