.navbar {
  background-color: royalblue;
  min-height: 4rem;
  display: flex;
}

::deep > .navbar-item {
  color: white;
  text-decoration: none;
  align-content: center;
  padding-inline: 0.9rem;
}

  ::deep > .navbar-item:hover {
    background-color: #FFF1;
  }

::deep .navbar-brand {
  flex-grow: 0;
  text-decoration: none;
  color: white;
  align-content: center;
  padding-inline: 1rem;
  font-weight: bold;
}

#navbar-logout-form {
  align-self: stretch;
  display: grid;
}

  #navbar-logout-form > button {
    border: none;
    cursor: pointer;
    color: white;
    background: none;
    padding-inline: 10px;
    font-size: 0.9rem;
  }

    #navbar-logout-form > button:hover {
      background-color: #FFF1;
    }
