@page "/Backlog/{OwnerKey}/{ProjectKey}/{Id?}"

@using BugTracker.Main.Features.Backlog
@using BugTracker.Main.Features.Backlog.Data
@using Microsoft.EntityFrameworkCore

@inject BacklogDbContext Db
@inject MediatR.IMediator Mediator
@inject NavigationManager NavigationManager

<div class="container flex-grow-1 d-flex flex-column gap-2">
    <NavLink href=@($"/Backlog/{OwnerKey}/{ProjectKey}/PBI/Create") class="btn btn-outline-primary w-25"> جدید </NavLink>

    @if (_currentItem.IsSome)
    {
        <form data-enhance href=@PbiIdToLink(Id) method="post" @formname="backlog-pbi-delete" @onsubmit="OnDeleteSubmit">
            <AntiforgeryToken />
            <button type="submit" class="btn btn-danger w-25">حذف</button>
        </form>
        <div class="flex-grow-1">
            <EditForm Enhance
                      Model="EditInput"
                      FormName="backlog-pbi-edit"
                      OnValidSubmit="OnEditValidSubmit"
                      class="vertical-mini-form">
                <div>
                    <label class="form-label w-100">
                        عنوان:
                        <InputText @bind-Value="EditInput.Title" required class="form-control w-100" />
                    </label>
                </div>
                <div>
                    <label class="form-label w-100">
                        شرح:
                        <InputTextArea @bind-Value="EditInput.Description" class="form-control w-100" />
                    </label>
                </div>
                <button type="submit" class="btn btn-primary w-25">ذخیره</button>
            </EditForm>
        </div>
    }

    <div>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>عنوان</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in _items)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>
                            <NavLink href=@PbiIdToLink(item.Id.ToString()) class="link-primary link-underline-opacity-0">نمایش</NavLink>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [CascadingParameter] Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    [Parameter] public string? Id { get; set; }
    [Parameter] public string? OwnerKey { get; set; }
    [Parameter] public string? ProjectKey { get; set; }

    [SupplyParameterFromForm] private EditInputModel? EditInput { get; set; }

    private IReadOnlyCollection<QueryPBIs.Response.PBI> _items = [];
    private Option<ReadPBI.Response> _currentItem;

    protected override async Task OnInitializedAsync()
    {
        if (OwnerKey is null || ProjectKey is null)
            return;

        if (AuthenticationStateTask is null)
            return;

        var authenticationState = await AuthenticationStateTask;
        var username = authenticationState.User.Identity?.Name;
        if (username is null || username != OwnerKey)
            return;

        QueryPBIs.Request request = new(OwnerKey, ProjectKey);
        var response = await Mediator.Send(request);
        response.Match(
            r => _items = r.PBIs,
            error => throw error.ToException()
        );

        if (Id is not null)
        {
            var typedId = ProductBacklogItemId.Parse(Id);
            ReadPBI.Request readRequest = new(typedId);
            var readResponse = await Mediator.Send(readRequest);
            _currentItem = readResponse.Match(
                Prelude.Some,
                _ => Prelude.None
            );

            if (EditInput is null)
            {
                EditInput ??= new();
                EditInput.Title = _currentItem.Match(x => x.Title, "");
                EditInput.Description = _currentItem.Match(x => x.Description, "");
            }
        }
    }

    private async Task OnEditValidSubmit()
    {
        if (OwnerKey is null || ProjectKey is null)
            return;

        if (AuthenticationStateTask is null)
            return;

        var authenticationState = await AuthenticationStateTask;
        var username = authenticationState.User.Identity?.Name;
        if (username is null || username != OwnerKey)
            return;

        if (_currentItem.IsNone)
            return;

        var id = ProductBacklogItemId.Parse(Id!);
        ProductBacklogItem currentItem = new()
            {
                Id = id,
                Title = null!,
                Description = null!,
                Project = null!,
                ProjectId = ProjectId.Empty,
            };

        Db.ProductBacklogItems.Attach(currentItem);
        currentItem.Title = EditInput.Title ?? "";
        currentItem.Description = EditInput.Description ?? "";

        await Db.SaveChangesAsync();
        NavigationManager.NavigateTo(NavigationManager.Uri);
    }

    protected async Task OnDeleteSubmit()
    {
        if (_currentItem.IsNone)
            return;

        var id = ProductBacklogItemId.Parse(Id!);
        ProductBacklogItem currentItem = new()
            {
                Id = id,
                Title = null!,
                Description = null!,
                Project = null!,
                ProjectId = ProjectId.Empty,
            };

        Db.ProductBacklogItems.Remove(currentItem);

        var result = await Db.SaveChangesAsync();
    }

    private string PbiIdToLink(string id) => $"/Backlog/{OwnerKey}/{ProjectKey}/{id}";
    private string PbiIdToDelete(ProductBacklogItemId id) => $"/Backlog/PBI/{id.Value}/Delete";

    class EditInputModel
    {
        public string? Title { get; set; }
        public string? Description { get; set; }
    }
}