<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="BugTracker.Main.styles.css" />
    <script src="/js/main.js" defer></script>
    <HeadOutlet />
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>