@using BugTracker.Main.Common.UI.Layout.MainLayoutParts

@inherits LayoutComponentBase

<Header />
<div id="page-container" class="flex-grow-1 container d-flex flex-column py-2">
    @Body
</div>
<Footer />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
