@page "/_"
@page "/_/{OwnerKey}"

@using BugTracker.Main.Features.Backlog
@using BugTracker.Main.Features.Backlog.Data
@using Microsoft.EntityFrameworkCore

@inject NavigationManager NavigationManager
@inject MediatR.IMediator Mediator

<PageTitle>پروژه‌ها</PageTitle>

<div class="flex-grow-1 container d-flex flex-column gap-3">
    <h3>پروژه‌های من</h3>

    <div>
        <NavLink href=@($"_/{OwnerKey}/create-project") class="btn btn-primary">ایجاد پروژه جدید</NavLink>
    </div>

    @if (projects is null)
    {
        <p><em>Loading...</em></p>
    }
    else if (!projects.Any())
    {
        <p>No projects found.</p>
    }
    else
    {
        <ul class="list-inline d-flex flex-column flex-sm-row flex-nowrap flex-sm-wrap gap-2 justify-content-around">
            @foreach (var project in projects)
            {
                <li>
                    @{
                        var link = $"/_/{project.OwnerKey}/{project.Key}";
                    }

                    <NavLink href="@link" class="btn btn-outline-info w-100">@project.Key</NavLink>
                </li>
            }
        </ul>
    }
</div>

@code {
    [Parameter] public string? OwnerKey { get; set; }

    [CascadingParameter] public Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    private IReadOnlyCollection<QueryProjects.Response.Project>? projects;

    protected override async Task OnInitializedAsync()
    {
        if (OwnerKey is null)
        {
            var authenticationState = await (AuthenticationStateTask ?? throw new InvalidOperationException());
            var username = authenticationState.User.Identity?.Name ?? throw new InvalidOperationException();
            NavigationManager.NavigateTo($"_/{username}");
        }

        QueryProjects.Request request = new();
        var response = await Mediator.Send(request);
        response.Match(
            r => projects = r.Projects,
            error => throw error.ToException());
    }
}